html {

}

body {
  margin: 0;
}

/* Page Heading and Navigation Styles */

header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}

header nav {
  padding-right: 40px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* News Content Styles */

section {
  border: 1px solid red;
}

.content {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 110px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* News Image Styles */

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-content {
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.headline-story .image-content {
  background-image: url(../images/img-story-main.png);
  font-size: 40px;
  text-align: left;
  margin-top: 0;
}

.flat-earth.image-content {
  background-image: url(../images/img-story-2.png);
}

.camera-shock.image-content {
  background-image: url(../images/img-story-3.png);
}

.mindcontrol-cats .image-content {
  background-image: url(../images/img-story-2.png);  
}
